/*导航栏 start*/
.msb{
	width: 100%;
	height: 34px;
	background-color: #eeeeee;
}
.msd{
	width: 1190px;
	height: 34px;
	margin: 0 auto;
	position: relative;
}
.msd1{
	width: 87px;
	height: 34px;
}
.msd2{
	width: 79px;
	height: 34px;
	position: relative;
}
.wxerweima{
    width: 124px;
    height: 118px;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 10;
    box-shadow: 0px 5px 5px black;
    background-color: white;
    display: none;
}
.wxerweima img{
	margin-top: 9px;
	margin-left:12px; 
}
.msd3{
	width: 148px;
	height: 34px;
	position: absolute;
	left: 205px;
	top: 0;
}
.yterweima{
	width: 148px;
	height: 163px;
	position: absolute;
	top: 34px;
	left: 0px;
	background-color: white;
	z-index: 10;
	box-shadow: 0px 5px 5px black;
	display: none;
}
.yterweima img{
	margin: 9px 7px;
}
.msj{
	float: left;
}
.msjb{
	width: 1px;
	height: 14px;
	background-color: #cccccc;
	margin:10px;
}
.home{
	width: 21px;
	height: 21px;
	margin: 6px 0px 7px 3px;
	background-color: #eeeeee;
	background:url(1.png) -225px 0px;
	position: relative;
}
.cu{
	width: 21px;
	height: 21px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background-color: #eeeeee;
	background:url(1.png) -225px -27px;
}
.home1{
	float: left;
}
.home1 a{
	line-height: 34px;
	margin-left: 6px;
}
.home2{
	width: 21px;
	height: 21px;
	margin: 6px 0px 7px 3px;
	background-color: #eeeeee;
	background:url(1.png) -225px -58px;
	position: relative;
}
.jiangyou{
	width: 21px;
	height: 21px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background-color: #eeeeee;
	background:url(1.png) -225px -88px;
}
.home3{
	width: 13px;
	height: 20px;
	margin: 6px 0px 7px 3px;
	background-color: #eeeeee;
	background:url(2.png) 0px 0px;
	position: relative;
}
.mayou{
	width: 13px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background-color: #eeeeee;
	background:url(2.png) 0px -20px;
}
.home1 a:hover{
    color: #e5004f;
}
.jiantou{
	width: 9px;
	height: 5px;
	margin-left:70px;
	margin-top: 15px;
	background: url(1.png) -176px -112px;
	position: relative;
}
.jiantoua{
	width: 9px;
	height: 5px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(1.png) -176px -128px;
	display: none;
}
.jiantou1{
	width: 9px;
	height: 5px;
	margin-left:90px;
	margin-top: 15px;
	background: url(1.png) -176px -112px;
}
.jiantou1:hover{
	width: 9px;
	height: 5px;
	margin-left:90px;
	margin-top: 15px;
	background: url(1.png) -176px -128px;
}
.msd ul{
	width: 520px;
	height: 34px;
	float: right;
}
.msd li{
	float: left;
	line-height: 34px;
	margin-left: 5px;
}
.msd a:hover{
	color:#e5004f;
}

/*导航栏 end*/
/*搜索框 start*/
.wugui{
	width: 1188px;
	height: 119px;
	border: 1px solid white;
	margin: 0 auto;
	position: relative;
}
.wugui1{
	width: 235px;
	height: 76px;
	position: absolute;
	left: 0px;
	top: 22px;
	border-right: 1px solid #efefef;
}
.wugui2{
	position: absolute;
	left: 245px;
	top: 22px;
}
.wugui3{
	width: 700px;
	height: 34px;
	position: absolute;
	right: 0px;
	top: 44px;
	overflow: hidden;
}
.wugui4{
	width: 450px;
	height: 30px;
	border: 2px solid black;
	position: absolute;
	left: 0px;
}
.wugui5{
	width: 44px;
	height: 30px;
	border: 2px solid black;
	position: absolute;
	left: 452px;
	background: url(1.png) -2px -78px;
	cursor: pointer;
}
.wugui6{
	width: 160px;
	height: 34px;
	position: absolute;
	right: 0px;
	background: url(1.png) -55px -76px;
}
.wugui6 p{
	color: white;
	position: absolute;
	right: 40px;
	top: 7px;
}
.wugui6 p span{
	color: #e5133f;
}
.wugui7{
	width: 7px;
	height: 4px;
	position: absolute;
	right: 20px;
	top: 15px;
	background: url(1.png) -189px -111px;
}
.wugui8{
	width: 350px;
	height: 16px;
	position: absolute;
	left: 488px;
	top: 85px;
}
.wugui8 a{
	color:#e5004f;
	margin-right: 12px; 
}
.wugui8 a span{
	color: #888888;
}
.wugui8 a span:hover{
	color:#e5004f;
	text-decoration: underline; 
}
.wugui8 a:hover{
	color:#e5004f;
	text-decoration: underline; 
}
.wugui9{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid black;
}
.wugui10{
	width: 1190px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.wugui11{
	width: 210px;
	height: 100%;
	position: absolute;
	left: 0px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.wugui12{
	width: 450px;
	height: 40px;
	position: absolute;
	left: 210px;
	bottom: 0px;
}
.wugui13{
	float: left;
	font-size: 18px;
	line-height: 38px;
	margin-left: 50px;
	border-bottom: 2px solid white;
}
.wugui13:hover{
	float: left;
	font-size: 18px;
	line-height: 38px;
	margin-left: 50px;
	border-bottom: 2px solid #e5004f;
}
.wugui13 a:hover{
	color: #e5004f;
}
.wugui14{
	width: 160px;
	height: 14px;
	position: absolute;
	right: 0px;
	top: 13px;
}
.wugui15{
	float: left;
	margin-left: 10px;
	color: #66667a;
}
.wugui15 a:hover{
	color: #e5004f;
}
/*搜索框 end*/
/*banner start*/
.banner{
	width: 100%;
	height: 470px;
	margin-bottom: 30px;
}
.bannerbox{
	width: 1349px;
	height: 470px;
	margin: 0 auto;
	position: relative;
}
.banner1{
	width: 1349px;
	height: 470px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	background: url(banner/11.jpg) center center;
}
.banner111{
	width: 1190px;
	height: 470px;
	margin: 0 auto;
	background: url(banner/1.jpg) center center;
}
.banner2{
	width: 1349px;
	height: 470px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	background: url(banner/22.jpg) center center;
}
.banner22{
	width: 1190px;
	height: 470px;
	margin: 0 auto;
	background: url(banner/2.jpg) center center;
}
.banner3{
	width: 1349px;
	height: 470px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	background: url(banner/33.jpg) center center;
}
.banner33{
	width: 1190px;
	height: 470px;
	margin: 0 auto;
	background: url(banner/3.jpg) center center;
}
.banner4{
	width: 1349px;
	height: 470px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	background: url(banner/44.jpg) center center;
}
.banner44{
	width: 1190px;
	height: 470px;
	margin: 0 auto;
	background: url(banner/4.jpg) center center;
}
.fangkuai{
	width: 124px;
	height: 8px;
	position: absolute;
	left: 620px;
	bottom: 22px;
	z-index: 7;
}
.fangkuai li{
	width: 30px;
	height: 8px;
	background-color: #211616;
	float: left;
	margin-right: 1px;
}
#hong{
	background-color: #e5004f;
}
.banner5{
	width: 1190px;
	height: 470px;
	position: absolute;
	top: 0px;
	left: 79.5px;
	z-index: 6;
}
.banner6{
	width: 210px;
	height: 470px;
	background-color: #333333;
}
.banner7{
	width: 210px;
	height: 46px;
	border-bottom: 1px solid #515151;
	position: relative;
}
.banner7:hover{
	background-color: #e5004f;
}
.banner81{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 17px;
	background: url(1.png) 0px -111px;
}
.banma1{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(1.png) 0px -129px;
}
.banner82{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -17px -111px;
}
.banma2{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(1.png) -17px -129px;
}
.banner83{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -34px -111px;
}
.banma3{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(1.png) -34px -129px;
}
.banner84{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -51px -111px;
}
.banma4{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -51px -129px;
}
.banner85{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -68px -111px;
}
.banma5{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -68px -129px;
}
.banner86{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -85px -111px;
}
.banma6{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -85px -129px;
}
.banner87{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -102px -111px;
}
.banma7{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -102px -129px;
}
.banner88{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -119px -111px;
}
.banma8{
    width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -119px -129px;
}
.banner89{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -136px -111px;
}
.banma9{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -136px -129px;
}
.banner80{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 18px;
	top: 15px;
	background: url(1.png) -153px -111px;
}
.banma0{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(1.png) -153px -129px;
}
.banma{
	display: none;
}
.banner9{
	color: white;
	font-size: 16px;
	padding-right: 10px;
	border-right: 1px solid #999999;
	position: absolute;
	left: 43px;
	top: 11px;
}
.banner10{
	color: white;
	position: absolute;
	left: 95px;
	top: 13px;
}
.banner10:hover{
	text-decoration: underline;
}
.banner11{
	width: 6px;
	height: 10px;
	background: url(1.png) -209px -111px;
	position: absolute;
	right: 15px;
	bottom: 16px;
}
.banner12{
	width: 200px;
	height: 470px;
	background: url(banner/111.jpg);
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}
.banner13{
	width: 30px;
	height: 60px;
	background: #333333;
	position: absolute;
	left: 210px;
	top: 205px;
	font-size: 28px;
	color: white;
	text-align: center;
	line-height: 60px;
	display: none;
	cursor: pointer;
}
.banner14{
	width: 30px;
	height: 60px;
	background: #333333;
	position: absolute;
	right: 210px;
	top: 205px;
	font-size: 28px;
	color: white;
	text-align: center;
	line-height: 60px;
	display: none;
	cursor: pointer;
}
.banner13:hover{
	width: 30px;
	height: 60px;
	background: #e5004f;
	position: absolute;
	left: 210px;
	top: 205px;
	font-size: 28px;
	color: white;
	text-align: center;
	line-height: 60px;
	display: none;
	cursor: pointer;
}
.banner14:hover{
	width: 30px;
	height: 60px;
	background: #e5004f;
	position: absolute;
	right: 210px;
	top: 205px;
	font-size: 28px;
	color: white;
	text-align: center;
	line-height: 60px;
	display: none;
	cursor: pointer;
}
/*隐藏的框框开始*/
.ycbox{
	width: 495px;
	height: 432px;
	position: absolute;
	left:210px;
	top:0px;
	display: none;
/*	z-index: 10;*/
}
.ycbox1{
	width: 335px;
	height: 432px;
	background: #333;
	float: left;
}
.yc-zi1{
	width: 295px;
	height: 65px;
	margin: 0 auto;
}
.gd p{
	width: 295px;
	height: 15px;
	color: #fff;
	font-size: 15px;
    padding-top: 15px;
}
.gd p span:hover{
    color: #e5004f;
}
.gd1 li{
	float: left;
	padding-top: 8px;
}
.gd1 li a{
	margin-right: 10px;
    color: #fff;
}
.gd1 li a:hover{
	color: #e5004f;
}
.yc-zi2{
	width: 295px;
	height: 55px;
	margin: 0 auto;
	border-top: 1px dashed #6a6765;
}
.yc-zi3{
	width: 295px;
	height: 55px;
	margin: 0 auto;
	border-top: 1px dashed #6a6765;
}
.yc-zi4{
	width: 295px;
	height: 55px;
	margin: 0 auto;
	border-top: 1px dashed #6a6765;
}
.yc-zi5{
	width: 295px;
	height: 55px;
	margin: 0 auto;
	border-top: 1px dashed #6a6765;
}
.yc-zi6{
	width: 295px;
	height: 75px;
	margin: 0 auto;
	border-top: 1px dashed #6a6765;
}
.haitao{
	width: 295px;
	height: 15px;
	color: #fff;
	font-size: 15px;
    padding-top: 5px;
}
.haitao:hover{
	color: #e5004f;
}
.yc-zi7{
	width: 295px;
	height: 65px;
	margin: 0 auto;
	border-top: 1px dashed #6a6765;
}
.ycbox2{
	width: 160px;
	height: 432px;
	background: #000;
	float: left;
}
.yc-pinpai{
	width: 130px;
	height: 40px;
	margin: 0 auto;
    color: #fff;
    font-size: 15px;
	line-height: 40px;
	border-bottom: 1px dashed #6a6765;
}
.yc-pp{
	width: 130px;
	height: 390px;
	margin: 0 auto;
	/*background: yellow;*/
}
.yc-pp li a{
    width: 130px;
    height: 24px;
    color: #fff;
    line-height: 24px;
}
.yc-pp li a:hover{
	color: #e5004f;
}
/*隐藏的框框结束*/
/*.buju{
	width: 495px;
	height: 432px;
	background-color: #333333;
	position: absolute;
	left: 210px;
	top: 0;
}
.bujuleft{
	width: 335px;
	height: 432px;
	background-color: blue;
	position: absolute;
	left: 0;
	top: 0;
}
.bujuright{
	width: 160px;
	height: 432px;
	background-color: yellow;
	position: absolute;
	right: 0;
	top: 0;
}
.bujuzuo{
	width: 295px;
	height: 422px;
	margin: 5px auto;
	background-color: pink;
}
.bujuyou{
	width: 130px;
	height: 422px;
	margin: 5px auto;
	background-color: pink;
}*/
/*banner end*/
/*超值特卖 start*/
.chaozhitemai{
	width: 1190px;
	height: 330px;
	margin: 0px auto;
	position: relative;
}
.chaozhi{
	width: 909px;
	height: 328px;
	border: 1px solid white;
}
.chaozhi1{
	width: 909px;
	height: 60px;
}
.chaozhi4{
	width: 909px;
	height: 260px;
	margin-top: 8px;
}
.chaozhi2{
	width: 100%;
	height: 60px;
}
.chaozhi2 li{
	float: left;
	width: 303px;
	font-size: 18px;
	text-align: center;
	line-height: 55px;
	border-bottom: 5px solid black;
}
.chaozhi5{
	width: 100%;
	height: 100%;
	display: none;
}
.chaozhi6{
	width: 218px;
	height: 258px;
	border: 1px solid #eeeeee;
	position: relative;
}
.temede{
	width: 218px;
	height:258px;
}
.chaozhi7{
	width: 218px;
	height: 258px;
	border: 1px solid #eeeeee;
	margin-left: 9px;
	position: relative;
}
.aaaa{
	float: left;
}
.kuang{
	cursor: pointer;
}
.touming{
	cursor: pointer;
}
.chaozhibox{
	width: 218px;
	height: 200px;
	text-align: center;
}
.wenzibox{
	width: 218px;
	height: 58px;
	position: relative;
}
.wenzibox a{
	position: absolute;
	top: 5px;
	left: 5px;
	text-decoration: underline;
}
.wenzibox a:hover{
	position: absolute;
	top: 5px;
	left: 5px;
	text-decoration: underline;
	color: #e5004f;
}
.wenzibox p{
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 16px;
	color: #e5004f;
}
.wenzibox span{
	position: absolute;
	bottom: 6px;
	right: 4px;
}
.chaozhitu{
	width: 270px;
	height: 300px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.top{
	width: 0px;
	height: 1px;
	background-color: black;
	position: absolute;
	left: -1px;
	top: -1px;
}
.left{
	width: 1px;
	height: 0px;
	background-color: black;
	position: absolute;
	left: -1px;
	top: -1px;
}
.bottom{
	width: 0px;
	height: 1px;
	background-color: black;
	position: absolute;
	right: -1px;
	bottom: -1px;
}
.right{
	width: 1px;
	height: 0px;
	background-color: black;
	position: absolute;
	right: -1px;
	bottom: -1px;
}
.chaozhiend{
	width: 1190px;
	height: 80px;
	margin: 30px auto;
}
/*超值特卖 end*/
/*银泰百货 start*/
.baihuozi{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(baihuo.png) no-repeat;
}
.baihuo{
	width: 1188px;
	height: 575px;
	margin: 0 auto;
	border: 1px solid #eeeeee;
}
.baihuo1{
	width: 1168px;
	height: 555px;
	margin: 10px auto;
	position: relative;
}
.zhuanguitu{
	width: 340px;
	height: 555px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.baihuo2{
	width: 815px;
	height: 555px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.baihuo3{
	width: 815px;
	height: 35px;
	border-bottom: 3px solid black
}
.baihuo4{
	width: 204px;
	height: 35px;
}
.baihuo4 li{
	width: 50%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	float: left;
}
.baihuo6{
	width: 815px;
	height: 513px;
	margin-top: 6px; 
	position: relative;
	display: none;
}
.bz1{
	position: absolute;
	left: 0px;
	top: 0px;
}
.bz2{
	position: absolute;
	left: 225px;
	top: 0px;
}
.bz3{
	position: absolute;
	right: 0px;
	top: 0px;
}
.bz4{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.bz5{
	position: absolute;
	left: 295px;
	bottom: 0px;
}
.bz6{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.baihuo7{
	width: 815px;
	height: 250px;
}
.baihuo10{
	width: 815px;
	height: 250px;
	margin-top: 10px;
}
.baihuo8{
	width: 198px;
	height: 248px;
	border: 1px solid #eeeeee;
	position: relative;
}
.baihuo9{
	width: 198px;
	height: 248px;
	border: 1px solid #eeeeee;
	margin-left: 5px;
	position: relative;
}
.baihuo0{
	width: 198px;
	height: 200px;
	text-align: center;
}
.baihuo8 a{
    text-decoration: underline;
    position: absolute;
    left: 5px;
    bottom: 27px;
}
.baihuo8 p{
	color: #e5004f;
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.baihuo8 span{
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.baihuo9 a{
    text-decoration: underline;
    position: absolute;
    left: 5px;
    bottom: 27px;
}
.baihuo9 p{
	color: #e5004f;
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.baihuo9 span{
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.baihuoend{
	width: 1190px;
	height: 80px;
	margin: 30px auto;
}
/*银泰百货 end*/
/*时尚名品 start*/
.shishangmingpin{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px 0px;
}
.shishang{
	width: 1190px;
	height: 372px;
	margin: 0 auto 30px;
	position: relative;
}
.shishang1{
	width: 228px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	left: 0px;
	top: 0px;
}
.shangbox{
	width: 211px;
	height: 145px;
	margin: 16px auto 0px;
    position: relative;
}
.shangbox1{
	width: 211px;
	height: 34px;
}
.shangbox11{
	width: 211px;
	height: 34px;
	margin-top: 3px;
}
.shangbox2{
	width: 65px;
	height: 32px;
	border: 1px solid #eeeeee;
	text-align: center;
	line-height: 32px;
	font-size: 15px;
}
.shangbox3{
	width: 65px;
	height: 32px;
	border: 1px solid #eeeeee;
	margin-left: 5px;
	text-align: center;
	line-height: 32px;
	font-size: 15px;
}
.shangbox2:hover{
	background-color: #e5004f;
	color: white;
	cursor: pointer;
}
.shangbox3:hover{
	background-color: #e5004f;
	color: white;
	cursor: pointer;
}
.xialunbo{
	width: 200px;
	height: 140px;
	border-top: 1px dashed black;
	background-color: #f2f2f2;
	margin: 27px auto 41px;
	position: relative;
}
.xialunbo1{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunbobox{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1 img{
    width: 75px;
    height: 50px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.zuotiao{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiao{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.shishang2{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 238px;
}
.ssleft{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssright{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	right: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssleft:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.ssright:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.shishangtu{
	width: 390px;
	height: 370px;
	position: relative;
	overflow: hidden;
}
.shishi{
	position: absolute;
	left: 0px;
	top: 0px;
}
.shishijiushishi{
	position: absolute;
	left: 390px;
	top: 0px;
}
.shishangyuan{
	width: 36px;
	height: 13px;
	z-index: 11;
	position: absolute;
	left: 182px;
	bottom: 16px;
}
.shishangyuan li{
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #6e6e6e;
	margin-right: 5px;
	float: left;                                                                                                      
}
#hongdian{
	background-color: #e5004f;
}
.shishang3{
	width: 270px;
	height: 180px;
	border: 1px solid #eeeeee;
	position: absolute;
	left: 638px;
	top: 0px;
}
.shishang4{
	width: 270px;
	height: 180px;
	border: 1px solid #eeeeee;
	position: absolute;
	right: 0px;
	top: 0px;
}
.shishang5{
	width: 270px;
	height: 180px;
	border: 1px solid #eeeeee;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.shishang6{
	width: 270px;
	height: 180px;
	border: 1px solid #eeeeee;
	position: absolute;
	left: 638px;
	bottom: 0px;
}
/*时尚名品 end*/
/*潮流女装 start*/
.shishangmingpin1{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -46px;
}
.xialunbo1c{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxc{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1c img{
    width: 75px;
    height: 50px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.zuotiaoc{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaoc{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*潮流女装 end*/
/*精品男装 start*/
.shishangmingpin2{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -92px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.xialunbo1n{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxn{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1n img{
    width: 75px;
    height: 50px;
}
.zuotiaon{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaon{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*精品男装 end*/
/*时尚鞋靴 start*/
.shishangmingpin3{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -138px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.xialunbo1x{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxx{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1x img{
    width: 75px;
    height: 50px;
}
.zuotiaox{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaox{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*//修改*/
.ssleftx{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssrightx{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	right: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssleftx:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.ssrightx:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.shishangtux{
	width: 390px;
	height: 370px;
	position: relative;
	overflow: hidden;
}
.shishi{
	position: absolute;
	left: 0px;
	top: 0px;
}
.shishijiushishi{
	position: absolute;
	left: 390px;
	top: 0px;
}
.shishangyuanx{
	width: 36px;
	height: 13px;
	z-index: 11;
	position: absolute;
	left: 182px;
	bottom: 16px;
}
.shishangyuanx li{
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #6e6e6e;
	margin-right: 5px;
	float: left;                                                                                                      
}
#hongdianx{
	background-color: #e5004f;
}
.shishang2x{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 238px;
}
/*时尚鞋靴 end*/
/*潮流箱包 start*/
.shishangmingpin4{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -184px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.xialunbo1b{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxb{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1b img{
    width: 75px;
    height: 50px;
}
.zuotiaob{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaob{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*//修改*/
.ssleftb{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssrightb{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	right: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssleftb:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.ssrightb:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.shishangtub{
	width: 390px;
	height: 370px;
	position: relative;
	overflow: hidden;
}
.shishi{
	position: absolute;
	left: 0px;
	top: 0px;
}
.shishijiushishi{
	position: absolute;
	left: 390px;
	top: 0px;
}
.shishangyuanb{
	width: 36px;
	height: 13px;
	z-index: 11;
	position: absolute;
	left: 182px;
	bottom: 16px;
}
.shishangyuanb li{
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #6e6e6e;
	margin-right: 5px;
	float: left;                                                                                                      
}
#hongdianb{
	background-color: #e5004f;
}
.shishang2b{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 238px;
}
/*潮流箱包 end*/
/*美容护肤 start*/
.shishangmingpin5{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -230px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.xialunbo1m{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxm{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1m img{
    width: 75px;
    height: 50px;
}
.zuotiaom{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaom{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*//修改*/
.ssleftm{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssrightm{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	right: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssleftm:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.ssrightm:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.shishangtum{
	width: 390px;
	height: 370px;
	position: relative;
	overflow: hidden;
}
.shishi{
	position: absolute;
	left: 0px;
	top: 0px;
}
.shishijiushishi{
	position: absolute;
	left: 390px;
	top: 0px;
}
.shishangyuanm{
	width: 36px;
	height: 13px;
	z-index: 11;
	position: absolute;
	left: 182px;
	bottom: 16px;
}
.shishangyuanm li{
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #6e6e6e;
	margin-right: 5px;
	float: left;                                                                                                      
}
#hongdianm{
	background-color: #e5004f;
}
.shishang2m{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 238px;
}
/*美容护肤 end*/
/*运动户外 start*/
.shishangmingpin6{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -276px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.xialunbo1y{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxy{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1y img{
    width: 75px;
    height: 50px;
}
.zuotiaoy{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaoy{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*//修改*/
.sslefty{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssrighty{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	right: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.sslefty:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.ssrighty:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.shishangtuy{
	width: 390px;
	height: 370px;
	position: relative;
	overflow: hidden;
}
.shishi{
	position: absolute;
	left: 0px;
	top: 0px;
}
.shishijiushishi{
	position: absolute;
	left: 390px;
	top: 0px;
}
.shishangyuany{
	width: 36px;
	height: 13px;
	z-index: 11;
	position: absolute;
	left: 182px;
	bottom: 16px;
}
.shishangyuany li{
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #6e6e6e;
	margin-right: 5px;
	float: left;                                                                                                      
}
#hongdiany{
	background-color: #e5004f;
}
.shishang2y{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 238px;
}
/*运动户外 end*/
/*内衣配饰 start*/
.shishangmingpin7{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -322px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.xialunbo1p{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxp{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1p img{
    width: 75px;
    height: 50px;
}
.zuotiaop{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaop{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*//修改*/
.ssleftp{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssrightp{
	width: 0px;
	height: 60px;
	background-color: #453742;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: white;
	position: absolute;
	right: 0px;
	top: 155px;
	z-index: 11;
	overflow: hidden;
}
.ssleftp:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.ssrightp:hover{
	background-color: #e5004f;
	cursor: pointer;
}
.shishangtup{
	width: 390px;
	height: 370px;
	position: relative;
	overflow: hidden;
}
.shishi{
	position: absolute;
	left: 0px;
	top: 0px;
}
.shishijiushishi{
	position: absolute;
	left: 390px;
	top: 0px;
}
.shishangyuanp{
	width: 36px;
	height: 13px;
	z-index: 11;
	position: absolute;
	left: 182px;
	bottom: 16px;
}
.shishangyuanp li{
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #6e6e6e;
	margin-right: 5px;
	float: left;                                                                                                      
}
#hongdianp{
	background-color: #e5004f;
}
.shishang2p{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 238px;
}
/*内衣配饰 end*/
/*可爱婴童 start*/
.shishangmingpin8{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	background: url(3.png) no-repeat 0px -368px;
}
.xialunbo1t{
	width: 159px;
	height: 104px;
	margin: 15px auto 21px;
	position: relative;
	overflow: hidden;
}
.lunboboxt{
	width: 159px;
	height: 104px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.xialunbo1t img{
    width: 75px;
    height: 50px;
}
.chun{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.xia{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 50px;
}
.qiu{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.dong{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 75px;
	height: 50px;
}
.zuotiaot{
	width: 20px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
.youtiaot{
	width: 20px;
	height: 140px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	text-align: center;
	line-height: 140px;
	font-size: 18px;
}
/*可爱婴童 end*/
/*银泰卡开始*/
.yintaika{
	width: 1190px;
	height: 165px;
	margin: 0 auto;
}
.yintaika1{
	height: 163px;
	width: 393px;
	float: left;
	border: 1px solid #eee;
	overflow: hidden;
	cursor: pointer;
}
.yintaika2{
	width: 1190px;
	height: 180px;
	margin: 0 auto;
	line-height: 180px;
}
.yintaika2 img{
	cursor: pointer;
	vertical-align: middle;
}
/*银泰卡结束*/
/*电话开始*/
.dianhua{
	width: 1190px;
	height: 90px;
	margin: 0 auto;
}
.dianhua1{
	width: 295px;
	height: 88px;
	border: 1px solid #eeeeee;
	background: #f7f7f7;
	float: left;
}
.dianhua2{
	width: 21px;
	height: 48px;
	margin: 22px 0px 0px 40px;
	background: url(footer-01.png);
}
.dianhua3{
	margin-top: -49px;
	margin-left: 68px;
	font-size: 20px;
	color: #e5004f;
}
.dianhua4{
	margin-left: 68px;
	margin-top: 6px;
}
.dianhua5{
	margin-left: 200px;
	margin-top: -39px;
	font-size: 12px;
}
.dianhua6{
	margin: 29px 0px 0px 45px;
	width: 34px;
	height: 38px;
	background: url(footer-01.png) 0px -83px;
}
.dianhua8{
	margin-top: -21.5px;
	margin-left: 127px;
	font-size: 16px;
}
.dianhua7{
	color: #e5004f;
	margin-top: -40px;
	margin-left: 93px;
	font-size: 16px;
}
.dianhua9{
	margin-left: 93px;
	font-size: 13px;
}
.dianhua81{
	margin-top: -21.5px;
	margin-left: 134px;
	font-size: 16px;
}
.dianhua61{
	margin: 29px 0px 0px 45px;
	width: 34px;
	height: 38px;
	background: url(footer-01.png) 0px -159px;
}
.dianhua91{
	margin-left: 106px;
	font-size: 13px;
}
.dianhua71{
	color: #e5004f;
	margin-top: -40px;
	margin-left: 106px;
	font-size: 16px;
}
.dianhua811{
	margin-top: -21.5px;
	margin-left: 167px;
	font-size: 16px;
}
.dianhua611{
	margin: 29px 0px 0px 45px;
	width: 47px;
	height: 38px;
	background: url(footer-01.png) 0px -229px;
}
/*电话结束*/
/*底部开始*/
.dibu2{
	width: 1190px;
	height: 38px;
	margin: 0 auto;
}
.dibu{
	width: 880px;
	height: 19px;
	margin: 0 auto;
}
.dibu1 li{
	float: left;
	margin-left: 3px;
	font-size: 12px;
}
.dibu3{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}
.dibu4{
	width: 570px;
	height: 19px;
	margin: 0 auto;
}
.dibu4 li{
	float: left;
	margin-left: 9px;
	font-size: 12px;
}
.dibu4 li a{
	color: #b2b2b2;
}
.dibu5{
	width: 224px;
	height: 19px;
	font-size: 12px;
	margin: 0 auto;
	color: #b2b2b2;
}
.dibu6{
	width: 1190px;
	height: 82px;
	margin: 0 auto;
	position: relative;
}
.dibu7{
	width: 112px;
	height: 41px;
	position: absolute;
	top: 20px;
	left: 435px;
}
.dibu8{
	width: 104px;
	height: 41px;
	position: absolute;
	top: 20px;
	left: 578px;
}
.dibu9{
	width: 44px;
	height: 48px;
	position: absolute;
	top: 18px;
	left: 710px;
}
.dibu1 li a:hover{
	color: #e5004f;
}
/*底部结束*/
/*侧边 start*/
.zaihui{
	width: 50px;
	height: 545px;
	position: fixed;
	right: 24px;
	bottom: 30px;
	cursor: pointer;
	z-index: 20;
}
.dear1{
	width: 50px;
	height: 50px;
	background: url(4.png) 0px 0px;
	position: relative;
}
.dear2{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -55px;
	position: relative;
}
.dear3{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -110px;
	position: relative;
}
.dear4{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -165px;
	position: relative;
}
.dear5{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -220px;
	position: relative;
}
.dear6{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -275px;
	position: relative;
}
.dear7{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -330px;
	position: relative;
}
.dear8{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -385px;
	position: relative;
}
.dear9{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -440px;
	position: relative;
}
.dear10{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	background: url(4.png) 0px -495px;
	position: relative;
}
.qinai{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #e5004f;
	display: none;
}
.zaihui p{
	width: 30px;
	height: 30px;
    font-size: 15px;
    margin: 5px auto;
    color: white;
}
/*侧边 end*/